body{
background-color: #F7F7F8;
}
.bg-dark{
background-color: #A1E23B !important;

}
.active-link {
	position: relative;
	font-size: 1.25em;
	border-radius: 1rem;
}

.active-link::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 2.5em; 
  top:40px;
	border: .75rem solid transparent;
	border-top: none;
  
	border-bottom-color: black;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.logo{
  width: 100%;
}
.treeImage{
  width: 30%;
}

.header-2{
background: #A1E23B;
}
.cardBg-1{
background-color: #F684F3;
}
.cardBg-2{
    background-color: #84C0F6;
    }
.cardBg-3{
        background-color: #F7BA84;
}
.font{
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 118px;
    text-align: center;
    
    color: #000000;
}
.navbar-dark{
    color: #000000 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(122, 122, 122, 0.5);
    font-size: 24px;
    font-weight: 500;
    padding: 0px 20px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000000 !important;
}
.btn-primary {
    color: #fff;
    background-color: #31A8FF;
    border-color: none !important;
    padding: 10px 70px;
    font-size: 30px;
    font-family: Comfortaa;
    font-weight: 400;
    line-height: 80.28px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.primary-modal {
  color: #fff;
  background-color: #31A8FF;
  border-color: none !important;
  padding: 0px 34px;
  font-size: 20px;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: 50.28px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 30px;
}
.signin{
    font-size: 22px;
    font-weight:400;
}
.menu-line{
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 4px;
}
.footer{
    background-color: #A1E23B;
    padding: 30px 10px;
}
.footer-copyright{
    font-size: 16px;
    font-weight: 400;
}
.footer-img{
  width: 50% !important;
}
.bg-login{
  background-image: url(../../img/tree3.svg);
  background-position: top center;
  background-size: 100%;
  background-repeat: repeat-x;
}
.bg-upload{
  background-image: url(../../img/upload.svg);
  background-position: top right;
  background-size: 70%;
  background-repeat: no-repeat;
}
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: #A1E23B; /* Fallback color */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 38%;
    padding: 20px;
  }
  .bg-text-login {
    width: 34%  ;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 29px);
    padding: 1.375rem 2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    background-clip: padding-box;
    border: none;
    border-radius: 20px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-search {
  display: block;
  width: 90%;
  height: calc(1.5em + .75rem + 15px);
  padding: 1.375rem 2.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
  /* border-radius: 20px; */
  background-clip: padding-box;
  border: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #F7F7F8;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}
.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  margin-left: -70px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: -46px;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color:transparent;
  border: none;
  border-radius: .25rem;
}

a{
    font-weight: 400;
}
.signin-btn{
    padding: 6px 30px;
    font-size: 30px;
line-height: 49px;
text-align: center;
color: #FFFFFF;
    background: #31A8FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
border: none;
font-weight: 400;
}
.back-btn{
    background: #F35D49;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
padding: 6px 58px;
font-size: 30px;
line-height: 49px;
text-align: center;
color: #FFFFFF;
font-weight: 400;
border: none;
}
.check-label{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    
    color: #535353;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #736F6F;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #736F6F;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .googleBtn{
    padding: 10px 10px;
    border: none;
    color: #736F6F;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #A1E23B;
    border: none;
    padding: 25px;
    border-radius: 30px;
}
.card-estimate{
    background-color: white;
    border: none;
    padding: 70px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.placeOrder-btn {
    background: #31A8FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-size: 28px;
    color: white;
    border: none;
    padding: 10px 50px;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    margin-top: 14px;
    color: green;
    min-width: 50px;
    font-size: 12px;
    text-align: center;
}
.icon-second {
    padding: 10px;
    color: green;
    min-width: 50px;
    font-size: 12px;
    text-align: center;
}
.icon-color{
    color: #C4C4C4;
}
  
.input-field {
    width: 90%;
    padding: 2px;
    padding-left: 50px;
    line-height: 4;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;

}
.input-field-second {
    width: 90%;
    padding: 10px;
    line-height: 1;
    background: #FFFFFF;
    border-radius: 50px;
    border: none;

}
.input-field-textarea {
    width: 90%;
    padding: 10px;
    line-height: 1;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
}
.course-width{
    width: 35% !important; 
}
.top-status{
    padding: 0px 40px;
    color: #878585;
    background: #FFFFFF;
border: 0.1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}
.top-status-active{
  color: black;
  background-color: #D2D2D6;
}

  .icon-color:hover + .callout {
    display: block;
  } 
  .icon-color:hover + .callout-textarea {
    display: block;
  } 
  .callout {
    position: absolute;
    left: 98%;
    margin-top: -36px;
    display: none;
    z-index: 1;
  }
  .callout-title {
    margin-top: -25px;
  }
  .callout-textarea {
    position: absolute;
    left: 98%;
    margin-top: -298px;
    display: none;
    z-index: 1;
  }
  .bubble {
    width: 10em;
    height:fit-content;
    padding: .5em;
    /* margin: 2em auto; */
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    
    font: 1.5em Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  }
  
  /* a {
    color: #ffffff;
    text-decoration: none;
  } */
  
  .triLeft {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 22px solid white;
    border-bottom: 28px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0px;
    left: -30px;
}
.uploadfile-speech{
    font-size: 18px;
    font-weight: 400;
}



#wrapper h1 {
  margin-top: 50px;
  font-size: 45px;
  color: #585858;
}

#wrapper h1 p {
  font-size: 20px;
}

.head-border{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:  2px solid #000;
}
.upload-image{
  padding: 50px;
  border-radius: 100%;
  width: 230px;
  height: 230px;
  background-color: #C4C4C4;
  border: none;
  color: #736F6F;
}
.upload-icon{
  margin-left: 30px;
  margin-top: 6.8%;
}
.cancel-btn {
  background: #CCCCCC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-size: 28px;
  color:#545151;
  border: none;
  padding: 10px 50px;
}
.d-flex-tree{
  display: flex;
}
.footer-img{
  width: 100%;
}
.input-width{
  width: 50%;
}
.input-width-name{
  width: 100%;
}
.pl{
  padding-left: 30px !important;
}
.d-flex-buttons{
  display: flex;
}
.searchInput{
  background: #F7F7F8;
border: 0.1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}
.side-div{
  padding: 14px 24px;;
  background: white;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}
.side-div-active{
  background-color: #D2D2D6;
}
.side-bage{
  padding-right: 60px;
  font-weight: 400; 
  font-size: 1rem;
}
.confirm-btn{
width: 228px;
height: 56px;
background: #DCF9FF;
border: 0.1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;

font-weight: 400;
font-size: 20px;
color: #878585;
line-height: 49.2px;
}
.submit{
    background: #E1FFD2;
    
}
.cancel{
  background: #F9ECEC;
  }
  .modal-bg{
    background-color: #A1E23B;
    padding: 20px;
    border-radius: 30px;
  }
  .input-field-modal {
background: #FFFFFF;
border-radius: 10px;
    width: 100%;
    padding: 2px;
    padding-left: 50px;
    line-height: 4;
    background: #FFFFFF;
    border: none;

}
.form-control-modal{
    width: 100%;
    height: calc(1.5em + .75rem + 18px);
    padding: 1.375rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: white;
    border: none;
    border-radius: 50px;
}
.separator-modal {
  display: flex;
  align-items: center;
  text-align: center;
  color: #736F6F;
  width: 50%;
}

.separator-modal::before,
.separator-modal::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #736F6F;
}

.separator-modal:not(:empty)::before {
  margin-right: .50em;
}

.separator-modal:not(:empty)::after {
  margin-left: .50em;
}

.complete-btn{
    padding: 0px 42px;
    font-size: 20px;
    background: #31A8FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
line-height: 49px;
text-align: center;
color: #FFFFFF;
border: none;
font-weight: 400;
}
.close-btn{
  background-color: #F35D49;
}
.h-0{
  height: auto;
}
@media (max-width: 575.98px) {
  .w-50{
    width: 100% !important;
  }
  .logo{
    width: 30%;
  }
  .active-link::before {
    display: none;
  }
  /* .treeImage{
    width: 10%;
  } */
  .input-width{
    width: 100%;
  }
  .pl{
    padding-left: 0px !important;
    margin-top: 50px;
  }
  .btn-primary {
    color: #fff;
    background-color: #31A8FF;
    border-color: none !important;
    padding: 10px 50px;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 400;
    line-height: 20.28px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
}
  .font {
    font-size: 20px;
    line-height: 52px;
}
.footer-img{
  width: 100%;
}
.d-flex{
  display: block !important;
}

 /* Position text in the middle of the page/image */
 .bg-text {
  width: 96%;
}
.bg-text-login {
  width: 96% !important ;
}
.upload-icon{
  display: none !important;
}
}

@media (max-width: 767.98px) {
  .logo{
    width: 30%;
  }
  /* .treeImage{
    width: 10%;
  } */
  .btn-primary {
    color: #fff;
    background-color: #31A8FF;
    border-color: none !important;
    padding: 10px 50px;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 400;
    line-height: 20.28px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
}
  .font {
    font-size: 20px;
    line-height: 52px;
}
.footer-img{
  width: 100%;
}
.d-flex{
  display: block !important;
}
.bg-text {
  width: 100% !important;
}
.bg-text-login {
  width: 100% !important ;
}
}
@media (max-width: 991.98px) {

  .btn-primary {
    color: #fff;
    background-color: #31A8FF;
    border-color: none !important;
    padding: 10px 50px;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 400;
    line-height: 20.28px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
}
  .font {
    font-size: 20px;
    line-height: 52px;
}
.footer-img{
  width: 100%;
}
.d-flex{
  display: block !important;
}
.bg-text {
  width: 100%;
}
 }


 /* table */
 table {
  width: 99.9%;
  color: black;
  border-collapse: collapse;
  border: none;
}

table th {
  padding: 10px;
  text-align: left;
}

table td {
  padding: 30px 10px;
}

table td:last-child {
  width: 100%;
}

.image {
    width:200px;
    height:200px;
    border-radius:50%;
}
.top-margin {
    margin-top: 15%;
}

/* table td:nth-child(odd), table th:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
} */
table tr{
  border-bottom: solid 1px #878585;
}
table tr:last-child td {
  padding-bottom: 10px;
}
.hidden_row{
  display: none;
}
.w-30{
  width: 30%;
}